---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
      /* This hides the theme's default title so you don't see it twice */
      .page__title, .archive__hero {
        display: none !important;
      }
    </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- <div style="width: 100%; height: 160px; position: relative; overflow: hidden; background-color: #f2f3f3; margin-bottom: 20px;">
      <img src="{{ '/images/Group_image.jpeg' | relative_url }}" 
           style="width: 100%; 
                  height: 100%; 
                  object-fit: cover; 
                  opacity: 0.; 
                  position: absolute; 
                  top: 0; 
                  left: 0;"> -->
    <div style="position: absolute; width: 100%; top: 80px; left: 0; pointer-events: none; z-index: 0; overflow: hidden;">
      <img src="{{ '/images/Group_image.jpeg' | relative_url }}" 
           style="display: block; 
                  margin: 0 auto; 
                  width: 70%; 
                  opacity: 0.25;
                  position: absolute;"> 




      
      <div style="position: relative; z-index: 1; padding: 50px 5%;">
        <h1 style="margin: 0; color: #333; font-size: 2.2em; border-bottom: none;">{{ page.title }}</h1>
      </div>
    </div>

    <div id="main" role="main">
      {{ content }}
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>